/* Members section */
#members p{
  text-align: center;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 575px) {
  #row2{
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 575px) {
  .row{
    margin-left: 32%;
  }
}
