/* Members section */
#members p{
  text-align: center;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#popupBasic img{
  width: 200px;
  height: 200px;
}

.member{
  padding-top: 20px;
}

.row{
  margin-right: 50px;
  margin-left: 50px;
}

#row2{
  margin-bottom: 50px;
}

.member a{
  color: black !important;
}

.member a:hover{
  color: gray !important;
  text-decoration: none !important;
}

@media only screen and (min-width: 800px) {
  #popupBasic{
    width: 700px;
  }
}
