/* Members section */
#members p{
  text-align: center;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#members img{
  height: 150px;
  width: 150px;
}

#row2{
  margin-bottom: 50px;
}

.member-text p:first-child{
  text-decoration: underline;
  line-height: 1;
}

.member-button{
  background-image: url("../img/pan-african-flag.png");
  background-color: #e6e6e6;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  border-radius: 25px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.member-text{
  margin-top: 10px;
  line-height: 80%;
}

.member-button span {
  max-width: 0;
  height: 0;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  transition: max-width 0.5s, height 0.5s;
  -webkit-transition: max-width 0.5s, height 0.5s;
  line-height: 1.8;
  padding-left: 10px;
  padding-right: 10px;
}

.member-button:hover span {
  width: 300px;
  max-width: 20rem;
  height: 25rem;
  word-wrap: break-word;
  overflow: visible;
}
