h2{
  border-bottom: solid 5px #78acff;
}

.navbar-dark a:hover{
  text-decoration: none !important;
  color: #78acff !important;
}

.navbar-dark .active{
  color: #78acff !important;
}

#contact-form {
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  border: solid #78acff;
  margin-bottom: 20px;
}

input[type=text] {
  width: 100%;
  border: none;
  border-bottom: solid 2px #78acff;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  background-color: transparent;
  border-color: #78acff;
  border-radius: 20px;
  padding-left: 10px;
}

@media only screen and (max-width: 600px) {
  #contact-form {
    width: 90%;
    margin: auto;
  }
}

#submit {
  width: 100%;
  border: none;
  border-radius: 20px;
  background-color: #78acff;
}

#socials div{
  height: 60px;
  border-radius: 20px;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  background-color: white;
}

#socials div:hover{
  text-decoration: none;
  border:solid 5px #78acff;
}

#socials a, #socials p{
  text-align: center;
  color: black;
  font-size: 20px;
  text-decoration: none;
}

#submit:hover {
  color: white;
}

#header-img{
  background: url("../img/contact-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
