#events img{
  height: 500px;
  width: 400px;
}
 .event{
   margin-bottom: 50px;
 }

 @media only screen and (max-width: 800px) {
   #events img{
     width: 100%;
   }
   iframe {
     width: 550px;
     height: 400px;
   }
 }

 @media only screen and (max-width: 600px) {
   iframe {
     width: 400px;
     height: 400px;
   }
 }

 @media only screen and (min-width: 600px) {
   iframe {
     width: 650px;
     height: 400px;
   }
 }

 #header-img{
   background: url("../img/events-background.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 20px;
 }
