section p{
  font-size: 25px;
}

#header-img{
  background: url("../img/home-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

h2{
  border-bottom: solid 5px #c9c9c9;
}

.navbar-dark a:hover{
  text-decoration: none !important;
  color: #c9c9c9 !important;
}

.navbar-dark .active{
  color: #c9c9c9 !important;
}
