section p{
  font-size: 25px;
}

#header-img{
  background: url("../img/home-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
