section p{
  font-size: 25px;
}

#header-img{
  background: url("../img/home-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

#calendar img{
  border: 2px solid #c9c9c9;
  width: 100%;
}

#calendar img:hover{
  background-color: white;
  opacity: .5;
  /* background-blend-mode: screen; */
}

h2{
  text-align: left;
  border-bottom: solid 5px #c9c9c9;
}

.navbar-dark a:hover{
  text-decoration: none !important;
  color: #c9c9c9 !important;
}

.navbar-dark .active{
  color: #c9c9c9 !important;
}
