/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
p{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
}

#header-img{
  width: 100%;
  height: 400px;
}

#navigation{
  font-size: 20px;
  background-color: transparent;
  position: relative;
  top: 80%;
}

.center-txt{
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#header{
  background-color: white;
  color: white;
}

#title{
  font-size: 50px;
  font-family: 'Bebas Neue', cursive;
}

#subtitle{
  font-size: 25px;
}

#umoja-logo{
  height: 30px;
}

.navbar-dark a{
  text-decoration: none !important;
  color: white !important;
}

.navbar-dark a:hover{
  text-decoration: none !important;
  color: yellow !important;
}

.navbar-dark .disabled{
  color: gray !important;
}

.navbar-dark .active{
  color: yellow !important;
}

h2{
  border-bottom: solid 5px #ffb5b5;
  width: 50%
}

@media only screen and (max-width: 993px) {
  #umoja-logo {
    display: none;
  }
  h2{
    border-bottom: solid 5px red;
    width: 100%
  }
  #navigation{
    position: inherit;
  }
}

@media only screen and (min-width: 993px) {
  #home-button {
    display: none;
  }
}
